* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', 'sans-serif';
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* Animações */

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stamp {
  animation: loading 8s linear infinite;
}

#userImage {
  transition: all ease 1s;
}

#userImage:hover {
  width: 11.5rem;
  height: 13rem;
}

.social-btn {
  position: relative;
  border-radius: 0.25rem;
  width: 50px;
  top: 0;
  transition: all ease 0.3s;
}
.social-btn:hover {
  border-radius: 50%;
  top: -8px;
}

.linkedin-img:hover {
  box-shadow: 0rem 5px 15px rgba(0, 172, 238, 0.5);
}

.facebook-img:hover {
  box-shadow: 0rem 5px 15px rgba(40, 103, 178, 0.5);
}

.instagram-img:hover {
  box-shadow: 0rem 5px 15px rgba(247, 55, 55, 0.5);
}
